
<div class="configuracion-dias">
    <h2>Configuración de natación: Dias de Entrenamiento</h2>
    <div class="natacion-imagen">
      <!-- Aquí iría la imagen de fondo -->
    </div>
    <div class="nivel-seleccion">
      <label for="nivel">Que dias sueles nadar?</label>
      <nav class="nivel-navbar">
        <ul>
          <li><a href="#" class="active">Lunes</a></li>
          <li><a href="#">Martes</a></li>
          <li><a href="#">Miercoles</a></li>
          <li><a href="#">Jueves</a></li>
          <li><a href="#">Viernes</a></li>
          <li><a href="#">Sabado</a></li>
          <li><a href="#">Domingo</a></li>
        </ul>
      </nav>
      <br>

    <!-- <button class="siguiente" (click)="piscina()">Siguiente</button> -->
    <button type="submit" class="next-button">Siguiente</button>
    

    </div>
  </div>
  
