<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Natacion</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <button type="button"(click)="logOut()" class="nav-link active" aria-current="page">LogOut</button>
        </li>
        
    </ul>
</header>
<ul *ngIf="auth.user$ | async as user">
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>
</ul>`


<div class="configuracion-natacion">
    <h2>Configuración de natación: Nivel</h2>
    <div class="natacion-imagen">
      <!-- Aquí iría la imagen de fondo -->
    </div>
    <div class="nivel-seleccion">
      <label for="nivel">Nivel de habilidad para nadar?</label>
      <nav class="nivel-navbar">
        <ul>
          <li><a href="#" class="active">Nivel 1</a></li>
          <li><a href="#">Nivel 2</a></li>
          <li><a href="#">Nivel 3</a></li>
          <li><a href="#">Nivel 4</a></li>
          <li><a href="#">Nivel 5</a></li>
        </ul>
      </nav>
      <p>NIVEL 1: Recién estoy comenzando. Puedo nadar estilo libre pero tengo poca o ninguna experiencia en entrenamiento de natación.</p>
      <div class="entrenamiento-acordeon">
        <button class="acordeon-btn" (click)="toggleAccordion()">Ejemplo de entrenamiento</button>
        <div class="acordeon-content" [class.active]="isAccordionOpen">
          <p>CALENTAMIENTO: 2 x 25 estilo libre, 2 x 25 patada</p>
          <p>CONJUNTO PRINCIPAL: 4 x 25 correctivos, 1 x 50 Estilo libre</p>
          <p>ENFRIAMIENTO: 2 x 25 Estilo libre</p>
        </div>
      </div>
      <br>

    <button class="siguiente" (click)="piscina()">Siguiente</button>
    

    </div>
  </div>
  
